extend layout
block header
block content
  .row
    .col-md-12
      ul.timeline
        li
          i.fa.fa-quote-left
          .timeline-item
            .timeline-body
              | To overcome your sugar addicition, eat less sugar
            .timeline-footer
              .thumbs.pull-left
                i.fa.fa-thumbs-o-up
                  span 0
                i.fa.fa-thumbs-o-down
                  span 0
              .share.pull-right
                i.fa.fa-twitter
                i.fa.fa-facebook

        li
          i.fa.fa-picture-o
          .timeline-item
            .timeline-body
              img(src='images/bomb.png')
            .timeline-footer
              .thumbs.pull-left
                i.fa.fa-thumbs-o-up
                  span 0
                i.fa.fa-thumbs-o-down
                  span 0
              .share.pull-right
                i.fa.fa-twitter
                i.fa.fa-facebook

        li
          i.fa.fa-quote-left
          .timeline-item
            .timeline-body
              | Incredible new weight loss diet:  Eat less, exercise more
            .timeline-footer
              .thumbs.pull-left
                i.fa.fa-thumbs-o-up
                  span 0
                i.fa.fa-thumbs-o-down
                  span 0
              .share.pull-right
                i.fa.fa-twitter
                i.fa.fa-facebook

        li
          i.fa.fa-clock-o.bg-gray

block javascript
